<!doctype html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Sum of two numbers</title>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular.min.js"></script>
     <script src="sumApp.js"></script>
</head>
<body ng-app="sumApp" ng-controller="sumCtrl">
    <h1>Sum of numbers</h1>
    <label>Insert a number</label><input type="number" ng-model="num1" ng-init="0">
    <label>Insert other number</label><input type="number" ng-model="num2" ng-init="2">
    <br><br>
    <input type="button" ng-click="sumar(num1, num2)" value="Sumar">
    <input type="button" ng-click="reset()" value="Borrar">
    <h3>The result is: {{num1}} + {{num2}} = {{total}} </h3>
    
</body>
</html>